.container {
    margin-top: 20px;
}

.h {
    background-color: antiquewhite;
}

.uno {
    background-color: lightskyblue;
}

.dos {
    background-color: lightseagreen;
}

.nuno {
    background-color: lightgreen;
}

.ancho {
    background-color: lightsalmon;
}

.ntres {
    background-color: aquamarine;
}

.a {
    background-color: lavender;
}

.b {
    background-color: lightpink;
}

.c {
    background-color: cornflowerblue;
}

.d {
    background-color: seagreen;
}